# Dependency directories
node_modules/

# Cypress test runtime records
cypress/videos/
cypress/screenshots/

# Dynamic pipeline telemetry caches
cypress-results.json
influx-payload.txt
parseResults.js
